/* --- interstitial --- */

.interstitial {
	position: fixed;
	max-width: inherit;
	width:100%;
	min-height: 100%;
	/* height: calc(100% - 4.8rem) !important; */
	height: 100%;
	background-color: black;
	color: white;
	border: none;
	background-size: cover;
	background-position: center center;
	-webkit-transform: scale( 1.2, 1.2 );
	-moz-transform: scale( 1.2, 1.2 );
	-o-transform: scale( 1.2, 1.2 );
	transform: scale( 1.2, 1.2 );
	transition: opacity;
	opacity: 1;
}
.interstitial .fade_in {
	transition: all 1s ease-in-out;
	-webkit-transform: scale( 1.0, 1.0 );
	-moz-transform: scale( 1.0, 1.0 );
	-o-transform: scale( 1.0, 1.0 );
	transform: scale( 1.0, 1.0 );
	opacity: 1;
}
.interstitial h1 { margin-bottom: 0; }
.interstitial .title_card {
    position: absolute;
	width: 100%;
	top: 10rem;
	padding: 0 7.2rem 3.6rem 7.2rem; 
	text-align: center;
	/*background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0.5) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
	opacity: 0;
	/* margin-bottom: 5rem; */
}
.interstitial .title_card .fade_in {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	opacity: 1;
}
.interstitial .fade_out {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	opacity: 0 !important;
	pointer-events: none; /* TODO: this won't work in IE */
}
.interstitial .paragraph_wrapper{
	text-align: center;
}
.interstitial .body_copy{
	max-width: 80rem;
	text-align: center;
	margin: 0 auto 0 auto;
}
.interstitial .instantaneous_fade_out {
	opacity: 0 !important;
	pointer-events: none; /* TODO: this won't work in IE */
}
.interstitial .title_card .relationships { max-width: inherit; }
.interstitial .title_card .citation {font-size:1.2rem; margin:12px 0px 0px 0px; padding:0px 0px 0px 0px; color: #777;}
.interstitial .title_card .citation a { color: #777; }
.interstitial.has_video {  /* Remove scale transform since it's jumpy with video but keep opacity transform */
	-webkit-transform: scale( 1.0, 1.0 );
	-moz-transform: scale( 1.0, 1.0 );
	-o-transform: scale( 1.0, 1.0 );
	transform: scale( 1.0, 1.0 );
}
.interstitial .image_header.has_video {
	position:relative;
}
.interstitial .sp-block { padding: 0; }
.interstitial .visual_path .sp-block.has_video h1, .visual_path .sp-block.has_video .sp-block__content {
	position:relative; z-index:1;
}
/* .interstitial .visual_path .sp-block.has_video .video_wrapper {
	position: absolute;
  	overflow: hidden;
  	min-height: 400px;
  	width: 100%;
} */
.interstitial header{
    width: 100%;
	padding-top: 0;
}
.interstitial .interstitial .video_wrapper, .image_header .video_wrapper  {
  position: absolute;
  top: 0; right:0; bottom:0; left:0;
  overflow: hidden;
}
.interstitial .visual_path .sp-block.has_video .video_wrapper video { display: none; }
.splash, .page{
    background-color: none;
}
.timer_dot{
	height: .5rem;
	width: .5rem;
	margin: 2rem .2rem;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	opacity: 0;
}